* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu SA Beginner', cursive;
}


.background {
    background-image: url('./img/todolist1.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

.container {
    max-width: 400px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 15px;
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list {
    color: #ffffff;
}

.form_container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #0D1282;
    font-weight: 700;
}

.form {
    height: 44px;
    width: 330px;
    margin: 10px 0;
    font-size: 24px;
    color: #0D1282;
    padding: 0 10px;
    border: #ffffff;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tasks {
    list-style: none;
}

.tasks li {
    background: #0B666A;
    height: 44px;
    margin: 5px 0;
    padding: 0 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tasks li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fa-circle,
.fa-check-circle {
    cursor: pointer;

}

.fa-trash-alt {
    cursor: pointer;
    color: #ffffff;

}

.task_title {
    cursor: pointer;
}